RNN_LSTM_models/RNN_LSTM_10000trunc_10nodes.h5 filter=lfs diff=lfs merge=lfs -text
RNN_LSTM_models/RNN_LSTM_512trunc_10nodes.h5 filter=lfs diff=lfs merge=lfs -text
w2v_embedding_model.bin.syn1neg.npy filter=lfs diff=lfs merge=lfs -text
w2v_embedding_model.bin.wv.vectors.npy filter=lfs diff=lfs merge=lfs -text
opinions-data-lc-labels.csv filter=lfs diff=lfs merge=lfs -text
lower_court_data_labels_chunk1.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/ filter=lfs diff=lfs merge=lfs -text
models/best_bert_models/ filter=lfs diff=lfs merge=lfs -text
inference/bert_inference/ filter=lfs diff=lfs merge=lfs -text
/inference/bert_inference/partisan_inference/ filter=lfs diff=lfs merge=lfs -text
inference/bert_inference/partisan_inference/* filter=lfs diff=lfs merge=lfs -text
inference/bert_inference/topic_inference/* filter=lfs diff=lfs merge=lfs -text
“data_preprocessing/lc_preprocessing/3_filter_split_lc_data/lc_greater_than_35_chunk_1.csv” filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_null_decision_text_chunk_1.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_null_decision_text_chunk_2.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_null_decision_text_chunk_3.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_null_decision_text_chunk_4.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_null_decision_text_chunk_5.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_opinions_no_text_chunk_0.csv filter=lfs diff=lfs merge=lfs -text
data_preprocessing/lc_preprocessing/missing_data_analysis/lc_opinions_no_text_chunk_1.csv filter=lfs diff=lfs merge=lfs -text
