RNN_LSTM_4073trunc_100nodes_2layers_names_removed_summary_0.05drop15epochs.h5 filter=lfs diff=lfs merge=lfs -text
RNN_LSTM_4073trunc_50nodes_4layers_names_removed_summary_0.05drop_removed_numbers_TOPIC.h5 filter=lfs diff=lfs merge=lfs -text
